* {
  font-family: Helvetica;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #edeef0;
}
.SpinnerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.Spinner {
  width: 40px;
  height: 40px;
  margin: auto auto;
  background-color: #1050b7;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.MessangingPage {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.MessangingWrapper {
  display: flex;
  margin: auto;
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 1200px;
  height: 90%;
  overflow: hidden;
  border-radius: 3px;
  box-sizing: border-box;
  background: #fff;
}
.MessangingWrapper .DialogTabWrapper {
  width: 350px;
  height: 100%;
}
.MessangingWrapper .DialogTabWrapper .DialogSearchWrapper {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0;
}
.MessangingWrapper .DialogTabWrapper .DialogSearchWrapper input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  border: none;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller {
  overflow-y: scroll;
  height: 100%;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .NewDialogButton {
  width: 100%;
  height: 70px;
  margin: 0;
  border: 1px solid #4286f4;
  cursor: pointer;
  background: #4286f4;
  color: #fff;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .NewDialogButton:hover {
  background: #1050b7;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .DialogTab {
  position: relative;
  display: flex;
  flex-flow: nowrap column;
  width: 100%;
  height: 70px;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  cursor: pointer;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .DialogTab:hover {
  background: #f0ffff;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .DialogTab .DialogTabName {
  margin: auto 0;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .DialogTab .DialogTabSettings {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #808080;
  cursor: pointer;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .DialogTab .DialogTabContent {
  margin: auto 0;
  padding: 0 15px;
  font-size: 14px;
}
.MessangingWrapper .DialogTabWrapper .MessangingWrapperScroller .DialogTab .DialogTabTime {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgba(0,0,0,0.4);
  font-size: 14px;
}
.MessangingWrapper .DialogWrapper {
  display: table;
  table-layout: fixed;
  width: 850px;
  height: 100%;
  border-left: 1px solid rgba(0,0,0,0.2);
}
.MessangingWrapper .DialogWrapper .NoDialogsNotification {
  display: flex;
  height: 100%;
}
.MessangingWrapper .DialogWrapper .NoDialogsNotification p {
  margin: auto;
}
.MessangingWrapper .DialogWrapper .DialogBox {
  position: relative;
  display: table-row;
  margin: 0;
  width: 100%;
  height: 100%;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner {
  position: relative;
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader {
  display: flex;
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader input {
  border: none;
  border-right: 1px solid rgba(0,0,0,0.2);
  width: calc(100% - 220px);
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader .DialogBoxHeaderButtonsWrapper {
  display: flex;
  height: 100%;
  width: 220px;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader .DialogBoxHeaderButtonsWrapper .Disconnect,
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader .DialogBoxHeaderButtonsWrapper .Report {
  margin: auto;
  height: 70%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #4286f4;
  color: #fff;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader .DialogBoxHeaderButtonsWrapper .Disconnect:hover,
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .DialogBoxHeader .DialogBoxHeaderButtonsWrapper .Report:hover {
  background: #1050b7;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper {
  overflow-y: scroll;
  height: calc(100% - 40px);
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DateDivider {
  display: flex;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DateDivider span {
  margin: auto;
  padding: 15px;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplica {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 5px;
  cursor: pointer;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplica:hover {
  background: #f0fff0;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplica.interlocutor .DialogReplicaIdentifier {
  color: #00f;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplica.choosed {
  background: #f0fff0;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplica.choosed .DialogReplicaChoosed {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 40px;
  height: 100%;
  border-radius: 100%;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplica.choosed .DialogReplicaChoosed:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  background: #6495ed;
  border-radius: 100%;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplicaIdentifier {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplicaContent {
  display: inline-block;
  width: calc(100% - 80px);
}
.MessangingWrapper .DialogWrapper .DialogBox .DialogBoxInner .DialogBoxInnerFixer .ReplicasWrapper .DialogReplicaSendTime {
  display: inline-block;
  width: 40px;
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}
.MessangingWrapper .DialogWrapper .MessageBox {
  display: table-row;
  max-height: 120px;
  box-sizing: border-box;
}
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner {
  display: flex;
  width: 100%;
}
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .MessageEditor {
  margin: 10px auto;
  padding: 10px 15px;
  min-height: 40px;
  max-height: 100px;
  overflow-y: auto;
  width: calc(100% - 230px);
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
}
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .SendMessageButton,
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .AudioMessageButton,
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .EmojiButton,
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .AddFilesButton {
  margin: auto;
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #4286f4;
  color: #fff;
}
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .SendMessageButton:hover,
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .AudioMessageButton:hover,
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .EmojiButton:hover,
.MessangingWrapper .DialogWrapper .MessageBox .MessageBoxInner .AddFilesButton:hover {
  background: #1050b7;
}
